---
title: "404 Page Not Found"
path: "/404-not-found.html"
is_hidden: true
no_page_header: true
---

<p style="text-align:right;font-family:Courrier,monospace;">
    404_page_not_found();
</p>

<img class="center no-border" src="<%= static_url '/images/404-not-found.jpg' %>" alt="ENOENT">
