---
kind: article
navbar: Blog
title: "after all it is still january"
created_at: 2015-01-25 21:33:51 +0100
updated_at: 2015-01-26 14:01:16 +0100
comments: true
---

<div class="clearfix">
    <img class="left" src="<%= static_url '/images/caution_this_is_c.png' %>" alt="Caution this is Spart^WC">

    <p>
        <em>Happy new year :)</em>

    <p>
        2014 has been very busy for me so I did not have much time to write.
        2015 seems promising, I'll have more free time for various side
        projects and — hopefully — posting a little more often.

    <p>
        Also this is a very short
        <a href="<%= article_path 'easy-as-the-c' %>">follow up post</a>
        to link a cool paper about
        <a href="http://pdos.csail.mit.edu/papers/ub:apsys12.pdf">Undefined Behaviour in C</a>
        (I also mirror it
        <a href="<%= static_url '/downloads/ub.apsys12.pdf' %>">here</a>).

    <p>
        As an exercice, feel free to look for UB in the PHP codebase on
        GitHub (that's pretty easy, you can start by
        <a href="https://github.com/php/php-src/search?l=c&amp;q=overflow&amp;type=Code&amp;utf8=%E2%9C%93">searching "overflow"</a>)
        <span class="glyphicon glyphicon-fire"></span>
</div>
