---
kind: article
navbar: Blog
title: "false false positive"
created_at: 2013-10-25 13:12
comments: true
---

<img class="left no-border" src="<%= static_url '/images/php.net-batman-meme.jpg' %>" alt=""false positiv-"">

<p>
    Yesterday it was announced by Google that <em>php.net</em> has been
    compromised.  <em>Rasmus Lerdorf</em>, who committed PHP, quickly declared
    that it was a "false positive" before starting to complain about Google's
    Webmaster Tools.

<p>
    I guess that when you say "it's a false positive" when you're not sure and
    then proven wrong, it can be expected that people are gonna make fun of
    you.
</p>

<img src="<%= static_url '/images/php.net-false-positive.png' %>" alt="pardon?">
