---
kind: article
navbar: Blog
title: "Welcome back, old friend"
created_at: 2013-05-09 00:20
updated_at: 2013-05-10 22:24
comments: true
tags: [Octopress]
---

<div class="clearfix">
    <img class="left no-border" src="<%= static_url '/images/fork.jpg' %>" alt="Fork While Fork">
    <p>
        It's true.<br>
        No shit.<br>
        <a href="//kaworu.ch">kaworu.ch</a> <em>is back online.</em>
    <p>
        You'll notice a few changes around here:
    </p>
    <ol>
        <li> I'm writing in English,
        <li> The blog is running <a href="http://octopress.org/">Octopress</a>,
        <li> There is a new name.
    </ol>
</div>

<!-- more -->

<p>
    Since most of my website's content is about computer stuff, it should be as
    accessible as possible. It's more a guideline than a rule, but I'll do my
    best to stick to English (at least for sysadmin and programming stuff).

<p>
    <span class="brand">Octopress</span> mainly because I wanted by website to
    be statically generated. Since I'm a Ruby (and recently GitHub) fanboy, it
    seemed logical. I hacked
    <a href="https://github.com/lucaslew/whitespace">whitespace</a> found in
    <a href="https://github.com/imathis/octopress/wiki/3rd-Party-Octopress-Themes">the few availables themes</a>.

<p>
    Last but not least, I changed the site's name to the famous Matrix quote
    <q>There is no spoon</q>. I've seen this movie (which is one of my
    favourite) a dozen time, and it's only recently that I understood how key
    this sequence is.

<p>
    That's it! Stay tuned!
</p>

<img class="center img-responsive" src="<%= static_url '/images/there-is-no-spoon.jpg' %>" alt="There is no spoon">
