---
kind: article
navbar: Blog
title: "oh god why PHP"
created_at: 2013-05-23 19:51
updated_at: 2013-10-25 14:02
comments: true
tags: [C]
---

<div class="clearfix">
    <p>
        <img class="no-border left" src="<%= static_url '/images/keep-calm-and-fuck-php.jpg' %>" alt="What a nice mug">
        Seriously. People hate it with passion and creativity designing mugs,
        T-shirts, writing
        <a href="http://search.cpan.org/~frew/Plack-Middleware-Acme-PHPE9568F34-D428-11d2-A769-00AA001ACF42/lib/Plack/Middleware/Acme/PHPE9568F34/D428/11d2/A769/00AA001ACF42.pm">parody code</a> and
        <a href="http://phpsadness.com">full websites</a> about how
        frustrating it is. While I am not planning a long complaining post
        (although the temptation is strong) I had to do something.
  <p>
      Some fellow bloggers already did a great hating job (kudo to them!). The
      best posts I could read on the topic are
      <a href="http://www.steike.com/code/php-must-die/">PHP Must Die</a> and
      <a href="http://me.veekun.com/blog/2012/04/09/php-a-fractal-of-bad-design/">
          PHP: a fractal of bad design
      </a>. The first one is short and simple while the second is exhaustive and
      merciless (there is a link to the PHP documentation in its "Credits"
      section).
  <p>
      <a href="http://software-gunslinger.tumblr.com/post/47131406821/php-is-meant-to-die">
          PHP is meant to die
      </a> is also a very interesting post I recently found.  It is focused on
      the "dying programming model of PHP" and its consequences.
  <p>
      Still, it's when you dig into code that you realize
      <a href="http://use.perl.org/use.perl.org/_Aristotle/journal/33448.html">
          how deep the rabbit whole is
      </a>. When I feel sad and bad at writing programs, I just
      <a href="https://github.com/php/php-src">linger there for a while</a> and
      soon, I would smile again.
  <p>
      Last time I checked, they were using <code>-INT_MAX</code>.
</div>
