---
kind: article
navbar: Blog
title: "Representations of Gender in Advertising"
created_at: 2013-06-03 12:54
updated_at: 2013-11-04 19:25:15
comments: true
tags: [sex]
---

<div class="clearfix">
    <img class="left" src="<%= static_url '/images/so-easy-a-husband-could-do-it.jpg' %>" alt="Just do it.">

    <p>
        That's the title of this <em>awesome video</em> produced by some
        students from the
        <a href="https://en.wikipedia.org/wiki/University_of_Saskatchewan">
            University of Saskatchewan
        </a>.

    <p class="alert alert-danger">
        <b><span class="glyphicon glyphicon-warning-sign"></span> SPOILER ALERT</b><br>
        They cherry picked some ads to illustrate how
        <em>the media are sexist towards women</em> (portraying them as
        submissive) and then
        <a href="https://en.wikipedia.org/wiki/Be_Kind_Rewind#.22Sweded.22">sweded</a>
        them replacing women by men (and vice-versa).
</div>

<!-- more -->

<p>
    Long story short, here is the video:
</p>

<%= youtube 'HaB2b1w52yE' %>

<blockquote>
    This culture jam is a school project that was created for a Women and
    Gender Studies class at the University of Saskatchewan by Sarah Zelinski,
    Kayla Hatzel and Dylan Lambi-Raine.
    We wanted to show how ridiculous media portrays gender roles and
    stereotypes in advertising through presenting gender roll reversals.
</blockquote>

<p>
    As pointed, it is shocking how unexceptional the original ads feels
    (compared to the their alternative). After a few hops on the web, I've
    landed on this incredible archive (and study) of gender in advertising:
    <a href="http://www.genderads.com/">The Gender Ads Project</a>.  It
    features about <em>4000 ads</em> classed and categorized.
