/* spoon ! */
#site-title {
    font-size: 36px;
    margin-top: 0;
    padding-top: 38px;
    background: transparent url(/images/spoon.jpg) no-repeat right bottom;
}

/* GitHub & Twitter navbar link */
#page-header #github-navbar-link,
#page-header #twitter-navbar-link {
    padding-top: 0.9em;
    padding-bottom: 0;
    img {
        height: 23px;
    }
}

/* underline for navbar active item */
.navbar-default .navbar-nav > .active > a {
    &, &:active, &:focus {
        border-bottom: 1px solid #d33682;
    }
}

/* mobile friendly fix */
.navbar-default a.navbar-brand.visible-xs {
    margin-top: 1em;
}

.entry-content {
    /* small border for subtitles in post and pages */
    h2 {
        border-bottom: 1px solid #eee;
    }
    /* give a max-width for image so they don't take to much space when the
       viewport is small */
    img.left, img.right {
        /* golden ratio */
        max-width: 62%;
    }
    /* small comments below codeblock */
    .codeblock-comment {
        font-size: 80%;
        margin-top: -1.6em;
        padding: 0.4em;
    }
}
