figure.code .highlight {
    // pre-like display, see http://stackoverflow.com/a/219230
    display: block;
    unicode-bidi: embed;
    font-family: monospace;
    white-space: pre;
    background: $base03;
    overflow-y: hidden;
    overflow-x: auto;
    @if $solarized == light {
        @include selection(adjust-color($base00, $lightness: 23%, $saturation: -65%), $text-shadow: $base00 0 1px);
    } @else {
        @include selection(adjust-color($base03, $lightness: 23%, $saturation: -65%), $text-shadow: $base03 0 1px);
    }
}
