pre {
    color: $base1;
    background: $base03;
}

figure.code .highlight {
    padding: 0;
    //background: $base03;
    overflow-y: hidden;
    overflow-x: auto;
    pre {
        margin: 0;
        padding: 1em;
        border: none;
        @import "pygment";
    }
    // reset bootstrap's content
    &:before, &:after {
        content: none;
    }
    @if $solarized == light {
        @include selection(adjust-color($base00, $lightness: 23%, $saturation: -65%));
    } @else {
        @include selection(adjust-color($base03, $lightness: 23%, $saturation: -65%));
    }
}

.rouge-table {
    width: 100%;
    .rouge-gutter {
        width: 2em;
        .lineno {
            @if $solarized == light {
                background: lighten($base03, 1);
                border-right: 1px solid #ddd;
            } @else {
                background: $base02;
                border-right: 1px solid darken($base03, 2);
            }
            text-align: right;
            font-size: 13px;
            color: $base01;
            padding: .7em .8em .8em .8em;
        }
    }
}
