
<!-- page layout -->
<div class="row">
    <div class="page-content col-md-12">
        <article role="article" class="hentry">
            <% unless @item[:no_page_header] %>
                <header class="page-header">
                    <% if @item[:created_at] %>
                        <p class="meta text-muted text-uppercase">
                            <span class="glyphicon glyphicon-calendar"></span>
                            <%= attribute_to_time(@item[:created_at]).strftime(@config[:date_format]) %>
                        </p>
                    <% end %>
                    <% if @item[:title] %>
                        <h1 class="entry-title">
                            <%= h @item[:title] %>
                            <% if @item[:subtitle] %>
                                <small><%= h @item[:subtitle] %></small>
                            <% end %>
                        </h1>
                    <% end %>
                </header>
            <% end %>

            <div class="<%= 'entry-content' unless @item[:kind] == 'blog-page' %> clearfix">
                <%= yield %>
            </div>
        </article>
    </div>
</div>
<!-- /page layout -->
